header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navBtn{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.3s;
    border-radius: 2px;
}
.navBtn:hover{
    background-color: silver;
    color: white;
}
h2{
    text-decoration: none;
    color: black;
}
.logoBtn{
    text-decoration: none;
}
.siteName{
    width: 100%;
    text-align: center;
}