.btn{
  padding: 0.5%;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
}
.btn:hover{
  background: green;
}

.delBtn{
  background-color: darkred;
}
.delBtn:hover{
  background-color: red;
}
body{
  background-image: url("https://cdn.suwalls.com/wallpapers/space/mars-surface-29477-1920x1080.jpg");
  background-size:cover
}

@media screen and (max-width: 2000px) {
  body {
    background-size: auto;
  }
}

header, footer{
  background-color: ghostwhite;
}
main{
  color: white;
}
footer{
  margin-top: 2%;
}